/*全体の装飾*/
body {
  width: 360px;
  margin: auto;
  background-image: url(../images/background.jpg);
  height: 100vh;  
  background-size:  cover;  
  font-family: sans-serif;    
}

h1 {
  font-size: 40px;
}

/*本画面　装飾*/
.questionimg:hover {
  transform: scale(1.2);
  transition: 0.4s;
}

.description {
  font-size: 20px;
}

.img-area {
  width: 300px;
}

.question-display {
  height: 80px;
  border: solid;
  background-color: white;
  display: flex;
  align-items: center;
}

.answer-area {
  text-align: center;
}

.answer-display {
  height: 100px;
  font-size: 80px;
}

button {
  margin-top: 20px;
  height: 50px;
}

.answer-btn {
  width: 80px;
  font-size: 28px;
}

.clear-btn {
  width: 190px;
  font-size: 20px;
}

footer {
  margin-top: 20px;
  text-align: center;
}

.footer-info {
  display: block;
}

img {
  width: 60px;
  margin-right: 10px;
}

/*サブ画面　装飾*/
.back-btn {
  width: 100px;
  font-size: 20px;
}

.mypicture-img {
  width: 160px;
}