body {
  width: 360px;
  margin: auto;
  background-image: url(../images/background.jpg);
  height: 100vh;  /*body要素の高さをビューポートの100%*/
  background-size:  cover;  
  /*background-color: beige;*/ /*背景画像無しなら単色*/
  font-family: sans-serif;    
}

h1 {
  font-size: 40px;
}

img:hover {
  transform: scale(1.2);
  transition: 0.4s;
}

.invisible {
  display: none;
}

.description {
  font-size: 20px;
}

.question-display {
  height: 80px;
  border: solid;
  background-color: white;
  display: flex;
  align-items: center; 
}

.answer-area {
  text-align: center;
}
.answer-display {
  height: 100px;
  font-size: 80px;
  color: red;
}

button {
  margin-top: 20px;
  height: 50px;
}

.answer-btn {
  width: 80px;
  font-size: 28px;
}

.clear-btn {
  width: 190px;
  font-size: 20px;
}

footer {
  margin-top: 20px;
  text-align: center;
}

.footer-info {
  display: block;
}

/*サブ画面　装飾*/
.add-btn, .back-btn {
  width: 100px;
  font-size: 20px;
}