body {
  width: 400px;
  margin: auto;
  /*background-image: url(../images/background.jpg);
  background-size:  auto;  */
  background-color: beige;
}

h1 {
  font-size: 40px;
}

.invisible {
  display: none;
}

.description {
  font-size: 20px;
}

.question-display {
  height: 80px;
  border: solid;
  background-color: white;
  align-items: center; /*上下中央になったか　そのまえに　display: flex;　がいるか*/
}

.answer-area {
  text-align: center;
}
.answer-display {
  height: 100px;
  font-size: 80px;
  color: red;
}


button {
  margin-top: 20px;
  height: 50px;
}

.answer-btn {
  width: 80px;
  font-size: 28px;
}

.clear-btn {
  width: 190px;
  font-size: 20px;
}

.add-btn {
  width: 100px;
  font-size: 20px;
}

footer {
  margin-top: 20px;
  text-align: center;
}